<div class="container pt-5">
<h1>Stupid Coaching</h1>

<div class="ps-3 pt-3 border-start border-5">
  <div class="blockquote">
    <%= @answer %>
    <br>
  </div>
  <div class="blockquote-footer">
    <%= "You" %>
    <br>
    <br>
  </div>
</div>

<div class="response ps-3 pt-3 border-start border-5">
  <div class="blockquote">
    <%= @response %>
    <br>
  </div>
  <div class="blockquote-footer">
      <%= "Your coach" %>
      <br>
      <br>
  </div>
</div>

<div>
  <%= link_to "Ask a new question", ask_path %>
</div>
</div>
